// Home
body {
  background-color: rgba(0, 0, 32, 0.76);
}

section {
  width: 100%;
  padding: 3rem;

  @include for-really-small-device {
    padding: 1rem;
  }
}

.leader-board {
  width: 100%;
  justify-content: space-around;
  align-items: baseline;
  padding: 6rem 3rem;
  border: 2px solid $color-text;
  border-radius: 10px;
  margin-top: 8rem;

  form {
    align-items: flex-end;

    & > * {
      margin-bottom: 2rem;
    }

    input,
    label {
      width: 100%;

      @include for-really-small-device {
        width: 90%;
      }
    }

    input {
      padding: 10px;
      border: none;
      box-shadow: 5px 5px $orange-background;
      transition: transform 0.2s ease-in-out;
    }

    input:focus-visible {
      outline: none;
      transform: scale(1.1);
    }

    input:hover {
      transform: scale(1.1);
    }
  }

  @include for-small-device {
    flex-direction: column;
    padding: 5rem 2rem;
    margin-top: 40px;
    align-items: center;

    form {
      margin-top: 30px;
    }
  }

  @include for-really-small-device {
    padding: 5rem 1rem;
  }
}

.score-table {
  width: 40%;

  div {
    padding-bottom: 3rem;
  }

  h2 {
    margin-right: 2rem;
  }

  ul {
    width: 100%;
    max-height: 50vh;
    overflow-y: auto;

    li {
      width: 100%;
      padding: 20px 10px;
      font-size: 2.5rem;
      background-color: $white-background;
      color: rgb(36, 36, 36);
      font-weight: 500;
    }

    li:nth-child(even) {
      background-color: $gray-background;
    }

    @include for-small-device {
      max-height: 40vh;
    }
  }

  @include for-small-device {
    width: 100%;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: $color-text;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(116, 116, 116);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(87, 87, 87);
}
