// Buttons

@keyframes dance {
  0% { transform: rotate(0deg) scale(1); }
  33% { transform: rotate(15deg) scale(1.1); }
  66% { transform: rotate(-15deg) scale(1.1); }
  100% { transform: rotate(0deg) scale(1); }
}

button {
  padding: 5px 15px;
  border-radius: 5px;
  color: white;
  background-color: $orange-background;
  font-size: 2.3rem;
  box-shadow: 3px 3px $color-text;
}

button:hover {
  cursor: pointer;
  animation: dance 1s ease-in-out 0s infinite normal;
}
