body {
  overflow: hidden;

  @include for-small-device {
    overflow: auto;
  }
}

.flex-container {
  display: flex;
  align-items: center;
}

.baseline {
  flex-direction: column;
  align-items: baseline;
}
